<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abukottmegalanyok.nik.uniobuda.hu.flowerpower" >

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/flowerpower"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".FlowerPowerApplication">

        <activity android:name=".SettingsActivity" android:theme="@android:style/Theme.Black.NoTitleBar">

        </activity>

        <activity android:name=".GameActivity" android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".domain.VibrateReceiver"></receiver>

    </application>

</manifest>